<% var year=0; %>

<div class="articleList">
    <ul>
        <% site.posts.each((post) => { %>
            <% var postYear=post.date.year(); %>
            <% if (postYear !==year) { %>
                <h2>
                    <%= postYear %>
                </h2>
                <% year=postYear; %>
            <% } %>
            <li>
                <%- include('partials/post_item', { post: post }) %>
            </li>
        <% }) %>
    </ul>
</div>